@font-face {
    font-family: note;
    src: url("A Note.ttf");
  }

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    background-color: #001C30;
    color: #64CCC5;
    font-family: "note";
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

header {
    width: 100%;
    text-align: center;
    padding: 16px;
    font-size: 56px;
    font-weight: 700;
}

.game {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.visuals {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    padding: 48px;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name,
.vs {
    font-size: 36px;
    font-weight: 400;
}

.result {
    font-size: 48px;
    font-weight: 800;
}


img {
    width: 256px;
    height: 256px;
    padding: 16px;
}

.prompt {
    font-size: 24px;
    padding: 8px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
}

/* CSS */
.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #001C30;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 28px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
}

footer {
    width: 100%;
    text-align: center;
    padding: 16px;
}
